In [41]:
import os 
from src.common.utils import read_yaml
test_path = os.path.join(os.getcwd(), "artifacts","01_27_2026_22_35","data_ingestion","ingested" ,"test.csv")
train_path = os.path.join(os.getcwd(), "artifacts","01_27_2026_22_35","data_ingestion","ingested" ,"train.csv")


import pandas as pd
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

In [42]:
schema_path = os.path.join(os.getcwd(), "config", "schema.yaml")

schema = read_yaml(schema_path)
schema

{'dataset': {'name': 'fraud_transactions',
  'target_column': 'FraudIndicator',
  'id_column': 'TransactionID'},
 'features': ['Amount',
  'TransactionAmount',
  'AnomalyScore',
  'Age',
  'AccountBalance',
  'Category',
  'MerchantName',
  'Location',
  'Address',
  'Name',
  'TransactionID',
  'MerchantID',
  'CustomerID',
  'SuspiciousFlag',
  'Timestamp',
  'LastLogin',
  'FraudIndicator',
  'FraudIndicatorabc'],
 'data_quality': {'missing_values': {'allowed_missing_ratio': 0.05},
  'value_ranges': {'Amount': {'min': 0, 'max': 1000000},
   'TransactionAmount': {'min': 0, 'max': 1000000},
   'Age': {'min': 18, 'max': 100},
   'AccountBalance': {'min': -100000, 'max': 10000000}}},
 'drift_monitoring': {'numerical_method': 'kolmogorov_smirnov',
  'categorical_method': 'chi_square',
  'threshold': 0.2}}

In [43]:
expected_columns = set(schema["features"])
expected_columns

{'AccountBalance',
 'Address',
 'Age',
 'Amount',
 'AnomalyScore',
 'Category',
 'CustomerID',
 'FraudIndicator',
 'FraudIndicatorabc',
 'LastLogin',
 'Location',
 'MerchantID',
 'MerchantName',
 'Name',
 'SuspiciousFlag',
 'Timestamp',
 'TransactionAmount',
 'TransactionID'}

In [44]:
actual_columns = set(train_df.columns)
actual_columns

{'AccountBalance',
 'Address',
 'Age',
 'Amount',
 'AnomalyScore',
 'Category',
 'CustomerID',
 'FraudIndicator',
 'LastLogin',
 'Location',
 'MerchantID',
 'MerchantName',
 'Name',
 'SuspiciousFlag',
 'Timestamp',
 'TransactionAmount',
 'TransactionID'}

In [45]:
missing = expected_columns - actual_columns
extra = actual_columns - expected_columns

In [46]:
missing

{'FraudIndicatorabc'}

In [47]:
extra

set()

In [48]:
train_df.head()

,TransactionID,Amount,CustomerID,FraudIndicator,Timestamp,MerchantID,TransactionAmount,AnomalyScore,Category,MerchantName,Location,Name,Age,Address,AccountBalance,LastLogin,SuspiciousFlag
0,30,70.075127,1117,0,2022-01-02 05:00:00,2932,83.884218,0.646600,Retail,Merchant 2932,Location 2932,Customer 1117,52,Address 1117,7288.036638,2022-04-27,0
1,536,80.519071,1837,0,2022-01-23 07:00:00,2538,97.244298,0.918230,Food,Merchant 2538,Location 2538,Customer 1837,29,Address 1837,2223.166958,2024-04-16,0
2,696,41.603418,1683,0,2022-01-29 23:00:00,2177,76.667553,0.928368,Online,Merchant 2177,Location 2177,Customer 1683,46,Address 1683,8943.379444,2023-11-14,0
3,558,18.424787,1176,0,2022-01-24 05:00:00,2743,57.222811,0.065989,Food,Merchant 2743,Location 2743,Customer 1176,20,Address 1176,5493.960539,2022-06-25,0
4,837,80.562303,1132,0,2022-02-04 20:00:00,2974,99.601035,0.497478,Retail,Merchant 2974,Location 2974,Customer 1132,47,Address 1132,4552.105269,2022-05-12,0

In [59]:
a = True
b = False
a

True

In [63]:
a &= False

In [64]:
a

False

In [70]:
all([True,True,False,True])

False

In [71]:
1 in [1,2,3,4]

True

In [84]:
a = 1
b = a

In [85]:
print(id(a))
print(id(b))
a == b

140706357539624
140706357539624

True

In [86]:
a is b

True

In [87]:
b = 10
print(id(b))

140706357539912

In [88]:
a is b

False

In [ ]:
id

In [89]:
a = True
b = True

In [90]:
a &= b

In [91]:
import numpy as np

In [96]:
np.array(["lohith","karthik","kumar"]) == np.array(["lohith","karthik","kuma"])

array([ True,  True, False])

In [95]:
["lohith","karthik","kumar"] == ["lohith","karthik","kumar"]

True

In [97]:
["lohith","karthik","kumar"] == ["lohith","karthik","kumars"]

False

In [98]:
4 * [1,2,3,4]

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [99]:
4 * np.array([1,2,3,4])

array([ 4,  8, 12, 16])

# Feature Engineering adding new features:

## 1. Time based featues:

In [ ]:
# 1. Time based featues:

eda_df["txn_hour"]     = eda_df["Timestamp"].dt.hour
eda_df["txn_weekday"]  = eda_df["Timestamp"].dt.weekday   # 0=Mon
eda_df["txn_month"]    = eda_df["Timestamp"].dt.month
eda_df["is_weekend"]   = eda_df["txn_weekday"].isin([5,6]).astype(int)

In [ ]:
## 2. USER-LEVEL BEHAVIOR FEATURES

eda_df['user_avg_amount'] = eda_df.groupby('CustomerID')['TransactionAmount'].transform('mean')
eda_df['amount_diff_from_avg'] = eda_df['TransactionAmount'] - eda_df['user_avg_amount']
eda_df['amount_ratio_avg'] = eda_df['TransactionAmount'] / (eda_df['user_avg_amount'] + 1)
eda_df['user_txn_count'] = eda_df.groupby('CustomerID').cumcount() + 1
eda_df['date'] = pd.to_datetime(eda_df['Timestamp']).dt.date
eda_df['user_daily_txns'] = eda_df.groupby(['CustomerID', 'date']).cumcount() + 1

In [ ]:
## 3. VELOCITY FEATURES
eda_df['Timestamp'] = pd.to_datetime(eda_df['Timestamp'])
eda_df = eda_df.sort_values(['CustomerID', 'Timestamp'])




# Transactions in the Past 1 Hour
import numpy as np

# Convert timestamp
eda_df['Timestamp'] = pd.to_datetime(eda_df['Timestamp'], errors='coerce')
eda_df = eda_df.dropna(subset=['Timestamp'])

# Sort properly
eda_df = eda_df.sort_values(['CustomerID', 'Timestamp']).reset_index(drop=True)

# Empty column
eda_df['txns_last_1h'] = 0

# Loop per customer (FAST because each customer has few transactions)
for cid, group in eda_df.groupby('CustomerID'):
    times = group['Timestamp'].values
    result = np.zeros(len(times), dtype=int)
    
    for i in range(len(times)):
        # find how many timestamps fall within [current_time - 1h, current_time]
        cutoff = times[i] - np.timedelta64(1, 'h')
        result[i] = np.sum((times >= cutoff) & (times <= times[i]))
    
    eda_df.loc[group.index, 'txns_last_1h'] = result



# Transactions in the Past 24 Hours
import numpy as np

# Make sure timestamps are clean
eda_df['Timestamp'] = pd.to_datetime(eda_df['Timestamp'], errors='coerce')
eda_df = eda_df.dropna(subset=['Timestamp'])

# Sort properly
eda_df = eda_df.sort_values(['CustomerID', 'Timestamp']).reset_index(drop=True)

# Create empty columns
eda_df['txns_last_24h'] = 0
eda_df['amount_last_24h'] = 0.0

# Loop per customer (FAST because each customer has few transactions)
for cid, group in eda_df.groupby('CustomerID'):
    times = group['Timestamp'].values
    amounts = group['TransactionAmount'].values

    txn_count = np.zeros(len(times), dtype=int)
    amount_sum = np.zeros(len(times), dtype=float)

    for i in range(len(times)):
        cutoff = times[i] - np.timedelta64(24, 'h')

        mask = (times >= cutoff) & (times <= times[i])

        txn_count[i] = np.sum(mask)
        amount_sum[i] = np.sum(amounts[mask])

    eda_df.loc[group.index, 'txns_last_24h'] = txn_count
    eda_df.loc[group.index, 'amount_last_24h'] = amount_sum

# Amount spent in the last 24 hours
import numpy as np

# Ensure timestamp is cleaned and sorted
eda_df['Timestamp'] = pd.to_datetime(eda_df['Timestamp'], errors='coerce')
eda_df = eda_df.dropna(subset=['Timestamp'])

eda_df = eda_df.sort_values(['CustomerID', 'Timestamp']).reset_index(drop=True)

# Create empty output column
eda_df['amount_last_24h'] = 0.0

# Loop per customer ID
for cid, group in eda_df.groupby('CustomerID'):
    times = group['Timestamp'].values
    amounts = group['TransactionAmount'].values

    amount_sum_24h = np.zeros(len(times), dtype=float)

    for i in range(len(times)):
        cutoff = times[i] - np.timedelta64(24, 'h')

        # Mask of transactions within [current_time - 24h, current_time]
        mask = (times >= cutoff) & (times <= times[i])

        amount_sum_24h[i] = np.sum(amounts[mask])

    # Assign back to main df
    eda_df.loc[group.index, 'amount_last_24h'] = amount_sum_24h

In [ ]:
## 4. MERCHANT-LEVEL RISK FEATURES

eda_df['merchant_txn_count'] = eda_df.groupby('MerchantID')['TransactionAmount'].transform('count')
eda_df['merchant_avg_amount'] = eda_df.groupby('MerchantID')['TransactionAmount'].transform('mean')
eda_df['amount_diff_from_merchant_avg'] = eda_df['TransactionAmount'] - eda_df['merchant_avg_amount']

In [ ]:
# 5. LOCATION & DEVICE FEATURES

eda_df['is_new_location'] = (
    eda_df.groupby('CustomerID')['Location']
          .transform(lambda x: ~x.duplicated().astype(int))
)

In [ ]:
# 6. CATEGORY RISK FEATURES

high_risk = ['electronics','jewelry','crypto']
eda_df['is_high_risk_category'] = eda_df['Category'].isin(high_risk).astype(int)

# Handle null values

In [ ]:
# Handle null values
eda_df['txn_gap_minutes'] = eda_df['txn_gap_minutes'].fillna(1440)

# preprocessing

In [ ]:
# STEP 1 â€” Drop Non-ML Columns

drop_cols = [
    'TransactionID', 'CustomerID', 'MerchantID', 'MerchantName',
    'Name', 'Address', 'Location', 'Timestamp', 'LastLogin', 'date', 'SuspiciousFlag'
]

eda_df = eda_df.drop(columns=drop_cols)




# Train-Test Split

from sklearn.model_selection import train_test_split

X = eda_df.drop('FraudIndicator', axis=1)
y = eda_df['FraudIndicator']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y, shuffle = True
)



# CYCLIC ENCODING (on train, then test) on time based columns
import numpy as np

def cyc_encode(df):
    df['txn_hour_sin'] = np.sin(2*np.pi*df['txn_hour']/24)
    df['txn_hour_cos'] = np.cos(2*np.pi*df['txn_hour']/24)

    df['txn_weekday_sin'] = np.sin(2*np.pi*df['txn_weekday']/7)
    df['txn_weekday_cos'] = np.cos(2*np.pi*df['txn_weekday']/7)

    df['txn_month_sin'] = np.sin(2*np.pi*df['txn_month']/12)
    df['txn_month_cos'] = np.cos(2*np.pi*df['txn_month']/12)

    return df

X_train = cyc_encode(X_train)
X_test  = cyc_encode(X_test)

# drop raw time columns
time_cols = ['txn_hour', 'txn_weekday', 'txn_month']
X_train = X_train.drop(columns=time_cols)
X_test  = X_test.drop(columns=time_cols)



# ONE-HOT ENCODE CATEGORICAL (fit on train, transform test)
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

categorical_cols = ['Category']

ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Fit ONLY on training data
ohe_train = ohe.fit_transform(X_train[categorical_cols])
ohe_test  = ohe.transform(X_test[categorical_cols])

ohe_cols = ohe.get_feature_names_out(categorical_cols)

# Convert to DataFrames
ohe_train_df = pd.DataFrame(ohe_train, index=X_train.index, columns=ohe_cols)
ohe_test_df  = pd.DataFrame(ohe_test,  index=X_test.index,  columns=ohe_cols)

# Drop old cat column + add new one
X_train = pd.concat([X_train.drop(columns=categorical_cols), ohe_train_df], axis=1)
X_test  = pd.concat([X_test.drop(columns=categorical_cols),  ohe_test_df],  axis=1)




# then i do scaling robustscaler and minmaxscaler

# SMOTE-ENN

In [101]:
import os 
import pandas as pd

from src.common.logger import get_logger
logger = get_logger(__name__)
from src.common.exception import CustomException


from src.entities.config.data_transformation_config import DataTransformationConfig

path_train_df_path = os.path.join("artifacts","01_28_2026_14_15","data_validation","valid","train.csv")

train_df = pd.read_csv(path_train_df_path)

train_df.head()

,TransactionID,Amount,CustomerID,FraudIndicator,Timestamp,MerchantID,TransactionAmount,AnomalyScore,Category,MerchantName,Location,Name,Age,Address,AccountBalance,LastLogin,SuspiciousFlag
0,30,70.075127,1117,0,2022-01-02 05:00:00,2932,83.884218,0.646600,Retail,Merchant 2932,Location 2932,Customer 1117,52,Address 1117,7288.036638,2022-04-27,0
1,536,80.519071,1837,0,2022-01-23 07:00:00,2538,97.244298,0.918230,Food,Merchant 2538,Location 2538,Customer 1837,29,Address 1837,2223.166958,2024-04-16,0
2,696,41.603418,1683,0,2022-01-29 23:00:00,2177,76.667553,0.928368,Online,Merchant 2177,Location 2177,Customer 1683,46,Address 1683,8943.379444,2023-11-14,0
3,558,18.424787,1176,0,2022-01-24 05:00:00,2743,57.222811,0.065989,Food,Merchant 2743,Location 2743,Customer 1176,20,Address 1176,5493.960539,2022-06-25,0
4,837,80.562303,1132,0,2022-02-04 20:00:00,2974,99.601035,0.497478,Retail,Merchant 2974,Location 2974,Customer 1132,47,Address 1132,4552.105269,2022-05-12,0

In [102]:
train_df.shape

(800, 17)

In [103]:
import numpy as np

In [159]:
def create_new_features_from_existing_features(df:pd.DataFrame) -> pd.DataFrame:
    # 1. Time based featues:
    
    df["Timestamp"] = pd.to_datetime(df["Timestamp"], errors="coerce") 
    df["LastLogin"] = pd.to_datetime(df["LastLogin"], errors="coerce") 

    df["txn_hour"]     = df["Timestamp"].dt.hour
    df["txn_weekday"]  = df["Timestamp"].dt.weekday   # 0=Mon
    df["txn_month"]    = df["Timestamp"].dt.month
    df["is_weekend"]   = df["txn_weekday"].isin([5,6]).astype(int)
    
    df["days_since_last_login"] = (df["Timestamp"] - df["LastLogin"]).dt.days

    df["txn_gap_minutes"] = (df.groupby("CustomerID")["Timestamp"].diff().dt.total_seconds() / 60)


    ## 2. USER-LEVEL BEHAVIOR FEATURES

    df['user_avg_amount'] = df.groupby('CustomerID')['TransactionAmount'].transform('mean')
    df['amount_diff_from_avg'] = df['TransactionAmount'] - df['user_avg_amount']
    df['amount_ratio_avg'] = df['TransactionAmount'] / (df['user_avg_amount'] + 1)
    df['user_txn_count'] = df.groupby('CustomerID').cumcount() + 1
    df['date'] = pd.to_datetime(df['Timestamp']).dt.date
    df['user_daily_txns'] = df.groupby(['CustomerID', 'date']).cumcount() + 1



        ## 3. VELOCITY FEATURES
    df['Timestamp'] = pd.to_datetime(df['Timestamp'])
    df = df.sort_values(['CustomerID', 'Timestamp'])




    # Transactions in the Past 1 Hour
    # Convert timestamp
    df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')
    df = df.dropna(subset=['Timestamp'])
    
    # Sort properly
    df = df.sort_values(['CustomerID', 'Timestamp']).reset_index(drop=True)
    
    # Empty column
    df['txns_last_1h'] = 0
    
    # Loop per customer (FAST because each customer has few transactions)
    for cid, group in df.groupby('CustomerID'):
        times = group['Timestamp'].values
        result = np.zeros(len(times), dtype=int)
        
        for i in range(len(times)):
            # find how many timestamps fall within [current_time - 1h, current_time]
            cutoff = times[i] - np.timedelta64(1, 'h')
            result[i] = np.sum((times >= cutoff) & (times <= times[i]))
        
        df.loc[group.index, 'txns_last_1h'] = result



    # Transactions in the Past 24 Hours
    # Make sure timestamps are clean
    df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')
    df = df.dropna(subset=['Timestamp'])
    
    # Sort properly
    df = df.sort_values(['CustomerID', 'Timestamp']).reset_index(drop=True)

    # Create empty columns
    df['txns_last_24h'] = 0
    df['amount_last_24h'] = 0.0
    
    # Loop per customer (FAST because each customer has few transactions)
    for cid, group in df.groupby('CustomerID'):
        times = group['Timestamp'].values
        amounts = group['TransactionAmount'].values
    
        txn_count = np.zeros(len(times), dtype=int)
        amount_sum = np.zeros(len(times), dtype=float)
    
        for i in range(len(times)):
            cutoff = times[i] - np.timedelta64(24, 'h')
    
            mask = (times >= cutoff) & (times <= times[i])
    
            txn_count[i] = np.sum(mask)
            amount_sum[i] = np.sum(amounts[mask])
    
        df.loc[group.index, 'txns_last_24h'] = txn_count
        df.loc[group.index, 'amount_last_24h'] = amount_sum



    # Amount spent in the last 24 hours
    # Ensure timestamp is cleaned and sorted
    df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')
    df = df.dropna(subset=['Timestamp'])
    
    df = df.sort_values(['CustomerID', 'Timestamp']).reset_index(drop=True)
    
    # Create empty output column
    df['amount_last_24h'] = 0.0
    
    # Loop per customer ID
    for cid, group in df.groupby('CustomerID'):
        times = group['Timestamp'].values
        amounts = group['TransactionAmount'].values
    
        amount_sum_24h = np.zeros(len(times), dtype=float)
    
        for i in range(len(times)):
            cutoff = times[i] - np.timedelta64(24, 'h')
    
            # Mask of transactions within [current_time - 24h, current_time]
            mask = (times >= cutoff) & (times <= times[i])
    
            amount_sum_24h[i] = np.sum(amounts[mask])
    
        # Assign back to main df
        df.loc[group.index, 'amount_last_24h'] = amount_sum_24h



    ## 4. MERCHANT-LEVEL RISK FEATURES
    
    df['merchant_txn_count'] = df.groupby('MerchantID')['TransactionAmount'].transform('count')
    df['merchant_avg_amount'] = df.groupby('MerchantID')['TransactionAmount'].transform('mean')
    df['amount_diff_from_merchant_avg'] = df['TransactionAmount'] - df['merchant_avg_amount']
    
    
    
    
    
    # 5. LOCATION & DEVICE FEATURES
    
    df['is_new_location'] = (
        df.groupby('CustomerID')['Location']
              .transform(lambda x: ~x.duplicated().astype(int))
    )
    
    
    # 6. CATEGORY RISK FEATURES
    
    high_risk = ['electronics','jewelry','crypto']
    df['is_high_risk_category'] = df['Category'].isin(high_risk).astype(int)


    return df

In [160]:
train_new_df = create_new_features_from_existing_features(train_df)

In [161]:
train_new_df.shape

(800, 37)

In [162]:
train_new_df.head()

,TransactionID,Amount,CustomerID,FraudIndicator,Timestamp,MerchantID,TransactionAmount,AnomalyScore,Category,MerchantName,...,days_since_last_login,txn_gap_minutes,txns_last_1h,txns_last_24h,amount_last_24h,merchant_txn_count,merchant_avg_amount,amount_diff_from_merchant_avg,is_new_location,is_high_risk_category
0,787,33.670626,1001,0,2022-02-02 18:00:00,2627,87.375444,0.030921,Food,Merchant 2627,...,32,NaN,1,1,87.375444,1,87.375444,0.000000,-1,0
1,641,30.980239,1003,0,2022-01-27 16:00:00,2496,46.044172,0.961552,Travel,Merchant 2496,...,24,NaN,1,1,46.044172,1,46.044172,0.000000,-1,0
2,450,11.167088,1004,0,2022-01-19 17:00:00,2184,85.085061,0.525809,Other,Merchant 2184,...,15,NaN,1,1,85.085061,2,59.252850,25.832212,-1,0
3,921,45.849784,1004,0,2022-02-08 08:00:00,2111,36.534720,0.652188,Other,Merchant 2111,...,35,28260.0,1,1,36.534720,3,43.243043,-6.708324,-1,0
4,599,81.808651,1005,0,2022-01-25 22:00:00,2191,82.852025,0.661493,Other,Merchant 2191,...,20,NaN,1,1,82.852025,1,82.852025,0.000000,-1,0

In [163]:
list_a = ['TransactionID', 'Amount', 'CustomerID', 'FraudIndicator', 'Timestamp',
       'MerchantID', 'TransactionAmount', 'AnomalyScore', 'Category',
       'MerchantName', 'Location', 'Name', 'Age', 'Address', 'AccountBalance',
       'LastLogin', 'SuspiciousFlag', 'txn_hour', 'txn_weekday', 'txn_month',
       'is_weekend', 'days_since_last_login', 'txn_gap_minutes',
       'user_avg_amount', 'amount_diff_from_avg', 'amount_ratio_avg',
       'user_txn_count', 'date', 'user_daily_txns', 'txns_last_1h',
       'txns_last_24h', 'amount_last_24h', 'merchant_txn_count',
       'merchant_avg_amount', 'amount_diff_from_merchant_avg',
       'is_new_location', 'is_high_risk_category']

In [164]:
list_b = train_new_df.columns.tolist()
list_b

['TransactionID',
 'Amount',
 'CustomerID',
 'FraudIndicator',
 'Timestamp',
 'MerchantID',
 'TransactionAmount',
 'AnomalyScore',
 'Category',
 'MerchantName',
 'Location',
 'Name',
 'Age',
 'Address',
 'AccountBalance',
 'LastLogin',
 'SuspiciousFlag',
 'txn_hour',
 'txn_weekday',
 'txn_month',
 'is_weekend',
 'user_avg_amount',
 'amount_diff_from_avg',
 'amount_ratio_avg',
 'user_txn_count',
 'date',
 'user_daily_txns',
 'days_since_last_login',
 'txn_gap_minutes',
 'txns_last_1h',
 'txns_last_24h',
 'amount_last_24h',
 'merchant_txn_count',
 'merchant_avg_amount',
 'amount_diff_from_merchant_avg',
 'is_new_location',
 'is_high_risk_category']

In [165]:
list(set(list_a) - set(list_b))

[]

In [166]:
# train_new_df.isnull().sum()

# Handle null values

In [167]:
# # Handle null values
def handle_null_values(df:pd.DataFrame)->pd.DataFrame:
    
    df['txn_gap_minutes'] = df['txn_gap_minutes'].fillna(1440)
    return df

In [168]:
train_new_df = handle_null_values(train_new_df)

In [169]:
# train_new_df.isnull().sum()

# Remove the useless features and keep the features that are used for modeling

In [170]:
def remove_ueless_features(df:pd.DataFrame)->pd.DataFrame:
    
    drop_cols = [
    'TransactionID', 'CustomerID', 'MerchantID', 'MerchantName',
    'Name', 'Address', 'Location', 'Timestamp', 'LastLogin', 'date', 'SuspiciousFlag'
    ]
    
    df = df.drop(columns=drop_cols)
    return df

In [171]:
train_new_df = remove_ueless_features(train_new_df)

In [172]:
train_new_df.head()

,Amount,FraudIndicator,TransactionAmount,AnomalyScore,Category,Age,AccountBalance,txn_hour,txn_weekday,txn_month,...,days_since_last_login,txn_gap_minutes,txns_last_1h,txns_last_24h,amount_last_24h,merchant_txn_count,merchant_avg_amount,amount_diff_from_merchant_avg,is_new_location,is_high_risk_category
0,33.670626,0,87.375444,0.030921,Food,54,9507.272060,18,2,2,...,32,1440.0,1,1,87.375444,1,87.375444,0.000000,-1,0
1,30.980239,0,46.044172,0.961552,Travel,40,1715.321989,16,3,1,...,24,1440.0,1,1,46.044172,1,46.044172,0.000000,-1,0
2,11.167088,0,85.085061,0.525809,Other,30,3101.509134,17,2,1,...,15,1440.0,1,1,85.085061,2,59.252850,25.832212,-1,0
3,45.849784,0,36.534720,0.652188,Other,30,3101.509134,8,1,2,...,35,28260.0,1,1,36.534720,3,43.243043,-6.708324,-1,0
4,81.808651,0,82.852025,0.661493,Other,46,5405.766914,22,1,1,...,20,1440.0,1,1,82.852025,1,82.852025,0.000000,-1,0

# proprocessing Encoding, Scaling, oversampling data

# 1. Cyclic encoding for those are created using date time feaures

In [176]:
def cyclic_encoding(df:pd.DataFrame)->pd.DataFrame:

    # CYCLIC ENCODING (on train, then test) on time based columns


    df['txn_hour_sin'] = np.sin(2*np.pi*df['txn_hour']/24)
    df['txn_hour_cos'] = np.cos(2*np.pi*df['txn_hour']/24)

    df['txn_weekday_sin'] = np.sin(2*np.pi*df['txn_weekday']/7)
    df['txn_weekday_cos'] = np.cos(2*np.pi*df['txn_weekday']/7)

    df['txn_month_sin'] = np.sin(2*np.pi*df['txn_month']/12)
    df['txn_month_cos'] = np.cos(2*np.pi*df['txn_month']/12)

    # drop raw time columns
    time_cols = ['txn_hour', 'txn_weekday', 'txn_month']
    df = df.drop(columns=time_cols)
    
    
    return df

In [177]:
train_new_df = cyclic_encoding(train_new_df)

In [178]:
train_new_df.head()

,Amount,FraudIndicator,TransactionAmount,AnomalyScore,Category,Age,AccountBalance,is_weekend,user_avg_amount,amount_diff_from_avg,...,merchant_avg_amount,amount_diff_from_merchant_avg,is_new_location,is_high_risk_category,txn_hour_sin,txn_hour_cos,txn_weekday_sin,txn_weekday_cos,txn_month_sin,txn_month_cos
0,33.670626,0,87.375444,0.030921,Food,54,9507.272060,0,87.375444,0.000000,...,87.375444,0.000000,-1,0,-1.000000,-1.836970e-16,0.974928,-0.222521,0.866025,0.500000
1,30.980239,0,46.044172,0.961552,Travel,40,1715.321989,0,46.044172,0.000000,...,46.044172,0.000000,-1,0,-0.866025,-5.000000e-01,0.433884,-0.900969,0.500000,0.866025
2,11.167088,0,85.085061,0.525809,Other,30,3101.509134,0,60.809890,24.275171,...,59.252850,25.832212,-1,0,-0.965926,-2.588190e-01,0.974928,-0.222521,0.500000,0.866025
3,45.849784,0,36.534720,0.652188,Other,30,3101.509134,0,60.809890,-24.275171,...,43.243043,-6.708324,-1,0,0.866025,-5.000000e-01,0.781831,0.623490,0.866025,0.500000
4,81.808651,0,82.852025,0.661493,Other,46,5405.766914,0,82.852025,0.000000,...,82.852025,0.000000,-1,0,-0.500000,8.660254e-01,0.781831,0.623490,0.500000,0.866025

# 2. one-hot encoder on categorical data

In [179]:
# 2. one-hot encoder on categorical data 

from sklearn.preprocessing import OneHotEncoder
import pandas as pd
from typing import List, Tuple


def one_hot_encode_train(train_df: pd.DataFrame,) -> Tuple[pd.DataFrame, OneHotEncoder]:
    """
    Fit OneHotEncoder on training data and transform it.
    """

    categorical_cols = ['Category']

    ohe = OneHotEncoder(
        sparse_output=False,
        handle_unknown="ignore"
    )

    # Fit + transform on TRAIN
    ohe_array = ohe.fit_transform(train_df[categorical_cols])

    ohe_cols = ohe.get_feature_names_out(categorical_cols)

    ohe_df = pd.DataFrame(
        ohe_array,
        columns=ohe_cols,
        index=train_df.index
    )

    # Drop original categorical columns
    train_df_encoded = pd.concat(
        [train_df.drop(columns=categorical_cols), ohe_df],
        axis=1
    )

    return train_df_encoded, ohe

In [180]:
# Train
train_df_encoded, ohe = one_hot_encode_train(train_new_df)

In [181]:
train_df_encoded

,Amount,FraudIndicator,TransactionAmount,AnomalyScore,Age,AccountBalance,is_weekend,user_avg_amount,amount_diff_from_avg,amount_ratio_avg,...,txn_hour_cos,txn_weekday_sin,txn_weekday_cos,txn_month_sin,txn_month_cos,Category_Food,Category_Online,Category_Other,Category_Retail,Category_Travel
0,33.670626,0,87.375444,0.030921,54,9507.272060,0,87.375444,0.000000,0.988685,...,-1.836970e-16,0.974928,-0.222521,0.866025,0.500000,1.0,0.0,0.0,0.0,0.0
1,30.980239,0,46.044172,0.961552,40,1715.321989,0,46.044172,0.000000,0.978743,...,-5.000000e-01,0.433884,-0.900969,0.500000,0.866025,0.0,0.0,0.0,0.0,1.0
2,11.167088,0,85.085061,0.525809,30,3101.509134,0,60.809890,24.275171,1.376561,...,-2.588190e-01,0.974928,-0.222521,0.500000,0.866025,0.0,0.0,1.0,0.0,0.0
3,45.849784,0,36.534720,0.652188,30,3101.509134,0,60.809890,-24.275171,0.591082,...,-5.000000e-01,0.781831,0.623490,0.866025,0.500000,0.0,0.0,1.0,0.0,0.0
4,81.808651,0,82.852025,0.661493,46,5405.766914,0,82.852025,0.000000,0.988074,...,8.660254e-01,0.781831,0.623490,0.500000,0.866025,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,13.946137,0,10.976064,0.088722,58,9255.451757,1,10.976064,0.000000,0.916500,...,-2.588190e-01,-0.974928,-0.222521,0.500000,0.866025,0.0,1.0,0.0,0.0,0.0
796,10.642141,0,67.729983,0.786485,25,9148.652759,0,67.729983,0.000000,0.985450,...,-2.588190e-01,-0.433884,-0.900969,0.500000,0.866025,0.0,0.0,0.0,0.0,1.0
797,34.780068,0,56.253886,0.182423,57,7376.854107,0,56.253886,0.000000,0.982534,...,-1.000000e+00,0.433884,-0.900969,0.866025,0.500000,1.0,0.0,0.0,0.0,0.0
798,86.971920,0,88.116384,0.766330,42,4853.024380,1,71.563777,16.552606,1.214330,...,2.588190e-01,-0.781831,0.623490,0.500000,0.866025,1.0,0.0,0.0,0.0,0.0
799,86.049092,0,55.011171,0.574643,42,4853.024380,0,71.563777,-16.552606,0.758108,...,-8.660254e-01,0.974928,-0.222521,0.866025,0.500000,0.0,0.0,1.0,0.0,0.0

In [ ]:
# def one_hot_encode_test(
#     X_test: pd.DataFrame,
#     categorical_cols: List[str],
#     ohe: OneHotEncoder
# ) -> pd.DataFrame:
#     """
#     Transform test data using already fitted OneHotEncoder.
#     """

#     # Transform ONLY (no fit)
#     ohe_array = ohe.transform(X_test[categorical_cols])

#     ohe_cols = ohe.get_feature_names_out(categorical_cols)

#     ohe_df = pd.DataFrame(
#         ohe_array,
#         columns=ohe_cols,
#         index=X_test.index
#     )

#     # Drop original categorical columns
#     X_test_encoded = pd.concat(
#         [X_test.drop(columns=categorical_cols), ohe_df],
#         axis=1
#     )

#     return X_test_encoded


# # Test
# X_test_encoded = one_hot_encode_test(
#     X_test,
#     categorical_cols,
#     ohe
# )

In [182]:
a = train_df_encoded.columns.tolist()

In [186]:
b = ['Amount', 'TransactionAmount', 'AnomalyScore', 'Age', 'AccountBalance',
       'is_weekend', 'days_since_last_login', 'txn_gap_minutes',
       'user_avg_amount', 'amount_diff_from_avg', 'amount_ratio_avg',
       'user_txn_count', 'user_daily_txns', 'txns_last_1h', 'txns_last_24h',
       'amount_last_24h', 'merchant_txn_count', 'merchant_avg_amount',
       'amount_diff_from_merchant_avg', 'is_new_location',
       'is_high_risk_category', 'txn_hour_sin', 'txn_hour_cos',
       'txn_weekday_sin', 'txn_weekday_cos', 'txn_month_sin', 'txn_month_cos',
       'Category_Food', 'Category_Online', 'Category_Other', 'Category_Retail',
       'Category_Travel']

In [187]:
set(a) - set(b)

{'FraudIndicator'}

# Single one hot encoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
from typing import List, Tuple


def one_hot_encode_train_test(
    X_train: pd.DataFrame,
    X_test: pd.DataFrame,
    categorical_cols: List[str]
) -> Tuple[pd.DataFrame, pd.DataFrame, OneHotEncoder]:
    """
    Fit OneHotEncoder on training data and apply the same transformation on test data.
    """

    ohe = OneHotEncoder(
        sparse_output=False,
        handle_unknown="ignore"
    )

    # Fit ONLY on train
    train_array = ohe.fit_transform(X_train[categorical_cols])

    # Transform ONLY on test
    test_array = ohe.transform(X_test[categorical_cols])

    ohe_cols = ohe.get_feature_names_out(categorical_cols)

    train_ohe_df = pd.DataFrame(
        train_array,
        columns=ohe_cols,
        index=X_train.index
    )

    test_ohe_df = pd.DataFrame(
        test_array,
        columns=ohe_cols,
        index=X_test.index
    )

    X_train_encoded = pd.concat(
        [X_train.drop(columns=categorical_cols), train_ohe_df],
        axis=1
    )

    X_test_encoded = pd.concat(
        [X_test.drop(columns=categorical_cols), test_ohe_df],
        axis=1
    )

    return X_train_encoded, X_test_encoded, ohe




usage
categorical_cols = ["Category"]

X_train_encoded, X_test_encoded, ohe = one_hot_encode_train_test(
    X_train,
    X_test,
    categorical_cols
)

# 4. Scaler function

In [ ]:
from sklearn.preprocessing import RobustScaler, MinMaxScaler
import pandas as pd
from typing import List, Tuple, Dict


def scale_train_test(
    X_train: pd.DataFrame,
    X_test: pd.DataFrame,
    robust_features: List[str],
    minmax_features: List[str]
) -> Tuple[pd.DataFrame, pd.DataFrame, Dict[str, object]]:
    """
    Fit scalers ONLY on training data and apply them to both
    training and test datasets.

    Returns:
        - Scaled X_train
        - Scaled X_test
        - Dict of fitted scalers (for persistence)
    """

    X_train_scaled = X_train.copy()
    X_test_scaled = X_test.copy()

    scalers = {}

    # -------------------- RobustScaler --------------------
    if robust_features:
        robust_scaler = RobustScaler()
        X_train_scaled[robust_features] = robust_scaler.fit_transform(
            X_train[robust_features]
        )
        X_test_scaled[robust_features] = robust_scaler.transform(
            X_test[robust_features]
        )
        scalers["robust_scaler"] = robust_scaler
        scalers["robust_features"] = robust_features

    # -------------------- MinMaxScaler --------------------
    if minmax_features:
        minmax_scaler = MinMaxScaler()
        X_train_scaled[minmax_features] = minmax_scaler.fit_transform(
            X_train[minmax_features]
        )
        X_test_scaled[minmax_features] = minmax_scaler.transform(
            X_test[minmax_features]
        )
        scalers["minmax_scaler"] = minmax_scaler
        scalers["minmax_features"] = minmax_features

    return X_train_scaled, X_test_scaled, scalers

In [ ]:
# usage

X_train_scaled, X_test_scaled, scalers = scale_train_test(
    X_train=X_train,
    X_test=X_test,
    robust_features=ROBUST_FEATURES,
    minmax_features=MINMAX_FEATURES
)

# over Sampling function uses SMOTE-ENN

In [ ]:
import pandas as pd
from imblearn.combine import SMOTEENN


def oversample_smoteenn(
    train_df: pd.DataFrame,
    target_column: str
) -> pd.DataFrame:
    """
    Apply SMOTE-ENN oversampling ONLY on training data
    and return a single resampled training DataFrame.
    """

    # Split features and target
    X_train = train_df.drop(columns=[target_column])
    y_train = train_df[target_column]

    # Apply SMOTE-ENN
    smote_enn = SMOTEENN(random_state=42)
    X_resampled, y_resampled = smote_enn.fit_resample(X_train, y_train)

    # Combine back into a single DataFrame
    train_resampled = pd.concat(
        [
            pd.DataFrame(X_resampled, columns=X_train.columns),
            pd.Series(y_resampled, name=target_column)
        ],
        axis=1
    )

    return train_resampled

In [ ]:
E:\AI and ML\AI and ML projects\Fraud_detection\artifacts\01_28_2026_22_35\data_transformation\transformed\train.csv

In [32]:
import os
pa = os.path.join("artifacts","01_29_2026_11_29","data_transformation","transformed","train.csv")
import pandas as pd
train_df = pd.read_csv(pa)
train_df

,Amount,TransactionAmount,AnomalyScore,Age,AccountBalance,is_weekend,days_since_last_login,txn_gap_minutes,user_avg_amount,amount_diff_from_avg,...,txn_weekday_sin,txn_weekday_cos,txn_month_sin,txn_month_cos,Category_Food,Category_Online,Category_Other,Category_Retail,Category_Travel,FraudIndicator
0,-0.601433,0.738848,0.030724,0.782609,0.829517,0,0.990727,0.0,-0.007050,0.029391,...,0.974928,-0.222521,0.866025,0.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0
1,-1.160627,0.686060,0.526200,0.260870,-0.614790,0,0.957540,0.0,-0.291522,0.764554,...,0.974928,-0.222521,0.500000,0.866025,0.000000,0.000000,1.000000,0.000000,0.000000,0
2,-0.298791,-0.432913,0.652729,0.260870,-0.614790,0,0.996584,26820.0,0.843789,-0.873131,...,0.781831,0.623490,0.866025,0.500000,0.000000,0.000000,1.000000,0.000000,0.000000,0
3,0.594756,0.634594,0.662045,0.608696,-0.095249,0,0.967301,0.0,0.137866,0.446730,...,0.781831,0.623490,0.500000,0.866025,0.000000,0.000000,1.000000,0.000000,0.000000,0
4,0.960399,0.913002,0.857488,0.304348,-0.105625,0,0.986823,35760.0,-1.138378,1.493140,...,0.781831,0.623490,0.866025,0.500000,0.000000,0.000000,1.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,0.602163,-0.420470,0.151628,0.049064,0.071736,0,0.044966,0.0,-0.244324,-0.163439,...,-0.433884,-0.900969,0.500000,0.866025,0.451387,0.000000,0.000000,0.000000,0.548613,1
970,-0.313212,0.470945,0.612599,0.837949,-0.187392,0,-0.715619,0.0,0.164284,0.296989,...,0.000000,1.000000,0.500000,0.866025,0.000000,0.836376,0.000000,0.163624,0.000000,1
971,0.161388,-0.542260,0.167838,0.690627,-0.444369,0,-0.872740,0.0,0.300474,-0.612514,...,0.974928,-0.222521,0.500000,0.866025,0.205190,0.000000,0.000000,0.000000,0.794810,1
972,-0.307511,0.428676,0.647381,0.791418,-0.206893,0,-0.647650,0.0,0.258619,0.202046,...,0.000000,1.000000,0.500000,0.866025,0.000000,0.693682,0.000000,0.306318,0.000000,1
973,-0.438784,-0.078564,0.319195,0.889513,0.261039,1,-0.385438,0.0,-0.227054,0.102821,...,-0.974928,-0.222521,0.500000,0.866025,0.082381,0.000000,0.917619,0.000000,0.000000,1

In [31]:
import os
pa = os.path.join("artifacts","01_29_2026_11_16","data_transformation","transformed","test.csv")
import pandas as pd
train_df = pd.read_csv(pa)
train_df
train_df.isnull().sum()

Amount                           0
FraudIndicator                   0
TransactionAmount                0
AnomalyScore                     0
Age                              0
AccountBalance                   0
is_weekend                       0
days_since_last_login            0
txn_gap_minutes                  0
user_avg_amount                  1
amount_diff_from_avg             1
amount_ratio_avg                 1
user_txn_count                   0
user_daily_txns                  0
txns_last_1h                     0
txns_last_24h                    0
amount_last_24h                  0
merchant_txn_count               0
merchant_avg_amount              1
amount_diff_from_merchant_avg    1
is_new_location                  0
is_high_risk_category            0
txn_hour_sin                     0
txn_hour_cos                     0
txn_weekday_sin                  0
txn_weekday_cos                  0
txn_month_sin                    0
txn_month_cos                    0
Category_Food                    0
Category_Online                  0
Category_Other                   0
Category_Retail                  0
Category_Travel                  0
dtype: int64

In [24]:
import pandas as pd
train_df = pd.read_csv(pa)

In [25]:
train_df

,Amount,FraudIndicator,TransactionAmount,AnomalyScore,Age,AccountBalance,is_weekend,days_since_last_login,txn_gap_minutes,user_avg_amount,...,txn_hour_cos,txn_weekday_sin,txn_weekday_cos,txn_month_sin,txn_month_cos,Category_Food,Category_Online,Category_Other,Category_Retail,Category_Travel
0,-0.601433,0,0.738848,0.030724,0.782609,0.829517,0,0.990727,0.0,NaN,...,-1.836970e-16,0.974928,-0.222521,0.866025,0.500000,1.0,0.0,0.0,0.0,0.0
1,-0.668287,0,-0.213742,0.962460,0.478261,-0.927334,0,0.975110,0.0,0.910393,...,-5.000000e-01,0.433884,-0.900969,0.500000,0.866025,0.0,0.0,0.0,0.0,1.0
2,-1.160627,0,0.686060,0.526200,0.260870,-0.614790,0,0.957540,0.0,-0.291522,...,-2.588190e-01,0.974928,-0.222521,0.500000,0.866025,0.0,0.0,1.0,0.0,0.0
3,-0.298791,0,-0.432913,0.652729,0.260870,-0.614790,0,0.996584,26820.0,0.843789,...,-5.000000e-01,0.781831,0.623490,0.866025,0.500000,0.0,0.0,1.0,0.0,0.0
4,0.594756,0,0.634594,0.662045,0.608696,-0.095249,0,0.967301,0.0,0.137866,...,8.660254e-01,0.781831,0.623490,0.500000,0.866025,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,-1.091570,0,-1.021980,0.088594,0.869565,0.772739,1,-1.002440,0.0,0.097953,...,-2.588190e-01,-0.974928,-0.222521,0.500000,0.866025,0.0,1.0,0.0,0.0,0.0
796,-1.173671,0,0.286066,0.787185,0.152174,0.748659,0,-1.006345,0.0,-1.311303,...,-2.588190e-01,-0.433884,-0.900969,0.500000,0.866025,0.0,0.0,0.0,0.0,1.0
797,-0.573864,0,0.021568,0.182405,0.847826,0.349172,0,-0.955588,0.0,0.339103,...,-1.000000e+00,0.433884,-0.900969,0.866025,0.500000,1.0,0.0,0.0,0.0,0.0
798,0.723059,0,0.755925,0.767006,0.521739,-0.219876,1,-1.020010,-45540.0,0.005377,...,2.588190e-01,-0.781831,0.623490,0.500000,0.866025,1.0,0.0,0.0,0.0,0.0
799,0.700127,0,-0.007073,0.575091,0.521739,-0.219876,0,-0.959492,0.0,0.931940,...,-8.660254e-01,0.974928,-0.222521,0.866025,0.500000,0.0,0.0,1.0,0.0,0.0

In [26]:
og = ['Amount', 'TransactionAmount', 'AnomalyScore', 'Age', 'AccountBalance',
       'is_weekend', 'days_since_last_login', 'txn_gap_minutes',
       'user_avg_amount', 'amount_diff_from_avg', 'amount_ratio_avg',
       'user_txn_count', 'user_daily_txns', 'txns_last_1h', 'txns_last_24h',
       'amount_last_24h', 'merchant_txn_count', 'merchant_avg_amount',
       'amount_diff_from_merchant_avg', 'is_new_location',
       'is_high_risk_category', 'txn_hour_sin', 'txn_hour_cos',
       'txn_weekday_sin', 'txn_weekday_cos', 'txn_month_sin', 'txn_month_cos',
       'Category_Food', 'Category_Online', 'Category_Other', 'Category_Retail',
       'Category_Travel']

In [27]:
created = train_df.columns.tolist()
created

['Amount',
 'FraudIndicator',
 'TransactionAmount',
 'AnomalyScore',
 'Age',
 'AccountBalance',
 'is_weekend',
 'days_since_last_login',
 'txn_gap_minutes',
 'user_avg_amount',
 'amount_diff_from_avg',
 'amount_ratio_avg',
 'user_txn_count',
 'user_daily_txns',
 'txns_last_1h',
 'txns_last_24h',
 'amount_last_24h',
 'merchant_txn_count',
 'merchant_avg_amount',
 'amount_diff_from_merchant_avg',
 'is_new_location',
 'is_high_risk_category',
 'txn_hour_sin',
 'txn_hour_cos',
 'txn_weekday_sin',
 'txn_weekday_cos',
 'txn_month_sin',
 'txn_month_cos',
 'Category_Food',
 'Category_Online',
 'Category_Other',
 'Category_Retail',
 'Category_Travel']

In [11]:
set(created) - set(og)

{'FraudIndicator', 'Unnamed: 0'}

In [9]:
len(og)

32

In [10]:
len(created)

34

In [13]:
train_df["Unnamed: 0"]

0        0
1        1
2        2
3        3
4        4
      ...
958    958
959    959
960    960
961    961
962    962
Name: Unnamed: 0, Length: 963, dtype: int64

In [5]:
import yaml
import os
path = os.path.join("config","config.yaml")

config_details = None
def read_yaml(path):
    with open(path, "r") as f:
        config_details = yaml.safe_load(f)
        return config_details

In [7]:
config = read_yaml(path)

In [8]:
config["model_training"]

{'model': {'name': 'lightgbm',
  'framework': 'lightgbm',
  'n_features': 32,
  'params': {'boosting_type': 'gbdt',
   'n_estimators': 500,
   'learning_rate': 0.05,
   'num_leaves': 50,
   'max_depth': -1,
   'min_child_samples': 50,
   'subsample': 0.8,
   'colsample_bytree': 0.8,
   'reg_alpha': 0,
   'class_weight': None}},
 'training': {'test_size': 0.2, 'random_state': 42},
 'evaluation': {'primary_metric': 'f1',
  'secondary_metrics': ['precision', 'recall', 'roc_auc']}}

In [10]:
import mlflow

mlflow.set_tracking_uri("https://dagshub.com/lsLohith1414/Fraud_Detection.mlflow")

mlflow.set_experiment("Network_flow")

2026/02/11 14:54:40 INFO mlflow.tracking.fluent: Experiment with name 'Network_flow' does not exist. Creating a new experiment.

MlflowException: API request to endpoint /api/2.0/mlflow/experiments/create failed with error code 403 != 200. Response body: ''